@font-face {
  font-family: 'Suisse';
  font-weight: normal;
  src: url('../fonts/suisseintl-book.woff2') format('woff2'),
    url('../fonts/suisseintl-book.woff') format('woff'),
    url('../fonts/suisseintl-book.otf') format('truetype');
}

/*TOKENS*/
:root {
  --background-gradient: linear-gradient(
    180deg,
    rgba(26, 26, 26, 0.8) 0%,
    #171717 100%
  );
  --background-body: #000;
  --background-muted: #141414;
  --foreground-lead: #fff;
  --foreground-body: #ffffff99;
  --foreground-muted: #4d4d4d;
  --foreground-ghost: #ffffff26;
  --foreground-inverted: #000;
  --accent-primary: #ff66ff;
  --accent-secondary: #32ffbd;

  --page-width: 1000px;
  --page-padding: 24px 24px 0;
  --grid-gap: 20px;
  --grid-item-horisontal-padding: 20px;

  --corner-radius-large: 20px;
  --corner-radius-medium: 10px;
  --corner-radius-small: 6px;

  --size-headline: 2.625rem;
  --size-lead: 1.875rem;
  --size-caption: 1.25rem;
  --size-body: 16px;
  --size-midline: 0.875rem;
  --size-subline: 0.75rem;

  --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
}

/*TAGS*/
* {
  box-sizing: border-box;
}
html {
  line-height: 1;
}
body {
  font-family: 'Suisse', sans-serif;
  font-weight: normal;
  background-color: var(--background-body);
  color: var(--foreground-body);
  -webkit-font-smoothing: antialiased;
}
a {
  color: inherit;
  text-decoration: inherit;
  white-space: nowrap;
  letter-spacing: 0.01em;
  transition: color 0.3s var(--ease-out-quint);
}
a:hover {
  --foreground-ghost: #ff66ff80;
  color: var(--accent-primary);
  transition: initial;
}
h1,
h2,
h3 {
  font-weight: normal;
  color: var(--foreground-lead);
  font-size: 1em;
}
h1,
h2,
h3,
p {
  margin: 0;
}
button {
  font-family: 'Suisse';
  border: none;
  cursor: pointer;
}

/*LAYOUT*/
.glow-fixer {
  width: 100%;
  overflow-x: hidden;
}
.main-wrapper {
  max-width: var(--page-width);
  padding: var(--page-padding);
  margin: auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 var(--grid-gap);
}
.grid__item {
  padding-left: var(--grid-item-horisontal-padding);
  padding-right: var(--grid-item-horisontal-padding);
}
.grid__item--12 {
  grid-column: span 12;
}
.grid__item--11 {
  grid-column: span 11;
}
.grid__item--10 {
  grid-column: span 10;
}
.grid__item--9 {
  grid-column: span 9;
}
.grid__item--8 {
  grid-column: span 8;
}
.grid__item--7 {
  grid-column: span 7;
}
.grid__item--6 {
  grid-column: span 6;
}
.grid__item--5 {
  grid-column: span 5;
}
.grid__item--4 {
  grid-column: span 4;
}
.grid__item--3 {
  grid-column: span 3;
}
.grid__item--2 {
  grid-column: span 2;
}
.grid__item--1 {
  grid-column: span 1;
}
.row,
.column {
  display: flex;
}
.column {
  flex-direction: column;
  height: 100%;
}

/*CONTROLS*/
.button {
  padding: 14px 32px 11px;
  font-size: var(--size-caption);
  line-height: 1.5rem;
  letter-spacing: 0.01em;
  background-color: var(--foreground-lead);
  color: var(--foreground-inverted);
  border-radius: var(--corner-radius-medium);
  transition: background-color 0.3s var(--ease-out-quint);
}
.button:hover {
  background-color: var(--accent-primary);
  transition: initial;
}
.textfield {
  padding: 10px 8px 9px;
  font-size: inherit;
  line-height: 0.875rem;
  border-radius: var(--corner-radius-small);
  border: 1px solid var(--foreground-lead);
  background-color: transparent;
}
.textfield::placeholder {
  color: var(--foreground-muted);
}

.link--underlined:not(:has(span)) {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--foreground-ghost);
}
.link--underlined span {
  display: inline-block;
  padding-bottom: 2px;
  line-height: inherit;
  border-bottom: 1px solid var(--foreground-ghost);
}
.link--with-chevron:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  width: 0.75rem;
  height: 1rem;
  background-color: currentColor;
  -webkit-mask: center / contain no-repeat url('../images/ui-icon-chevron.svg');
  mask: center / contain no-repeat url('../images/ui-icon-chevron.svg');
}
.link--with-arrow:after {
  content: '';
  display: inline-block;
  vertical-align: top;
  margin-left: 0.375rem;
  width: 0.625rem;
  height: 1.25rem;
  background: currentColor;
  -webkit-mask: left center / contain no-repeat
    url('../images/ui-icon-arrow.svg');
  mask: left center / contain no-repeat url('../images/ui-icon-arrow.svg');
}

/*UTILITY*/
.visually-hidden {
  border: none !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

/*HEADER*/
.main-header {
  align-items: center;
  font-size: var(--size-body);
  line-height: var(--size-body);
  letter-spacing: 0.01em;
  color: var(--foreground-lead);
}
.main-header__nav {
  font-size: 0.875em;
  align-items: flex-start;
  margin-right: auto;
}
.main-header__nav > *:not(:last-child) {
  margin-right: 40px;
}
.main-header__action {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
}
.main-header__action:not(:last-child) {
  margin-right: 4px;
}

/*PROMO MODULE*/
.promo {
  position: relative;
  padding-top: 10px;
  padding-bottom: 52px;
  background: var(--background-gradient);
  border-radius: var(--corner-radius-large);
  overflow: hidden;
}
.promo__title-wrapper {
  margin-top: 28px;
  width: 100%;
  margin-bottom: 15px;
}
.promo__title {
  position: relative;
  padding-bottom: clamp(120px, 38.312%, 349px);
}
.promo__title-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--accent-secondary);
  -webkit-mask: url('../images/promo-title.svg') 0 0/100% 100% no-repeat;
  mask: url('../images/promo-title.svg') 0 0/100% 100% no-repeat;
}
.promo__brand {
  width: 150px;
  height: 40px;
  margin-bottom: 240px;
}
.promo__description {
  margin-bottom: 24px;
  font-size: var(--size-caption);
  line-height: 1.75rem;
  color: var(--foreground-lead);
}
.promo__price {
  font-size: var(--size-headline);
  line-height: 3.125rem;
  color: var(--accent-primary);
  margin-bottom: 10px;
}
.promo__hero-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*LEAD TEXT MODULE*/
.lead {
  padding-top: 54px;
  padding-bottom: 64px;
  font-size: var(--size-lead);
  line-height: 2.5rem;
}
.lead__title,
.lead__description {
  display: inline;
}
.lead__link {
  display: inline-block;
  margin-top: 30px;
  font-size: var(--size-caption);
  line-height: 1.5rem;
  letter-spacing: 0;
  color: var(--foreground-lead);
}
.lead__link-caps {
  font-feature-settings: 'case' on;
  letter-spacing: 0.05em;
}

/*TWO COLUMNS MODULE*/
.two-columns {
  padding-top: 30px;
  padding-bottom: 80px;
}
.two-columns__aside {
  padding-top: 45px;
  padding-bottom: 50px;
}
.two-columns__main {
  position: relative;
  padding-left: 0;
}
.two-columns__main-glow {
  position: absolute;
  width: 2000px;
  height: 2000px;
  top: calc(50% - 1000px);
  left: calc(45% - 1000px);
  filter: blur(24px);
  z-index: -1;
}
.feature {
  font-size: var(--size-caption);
  line-height: 1.75rem;
}
.feature:not(:last-child) {
  margin-bottom: 40px;
}
.feature--epilogue {
  margin-top: auto;
}
.feature__icon-wrapper {
  width: var(--icon-width);
  margin-bottom: 12px;
}
.feature__icon--shock {
  --icon-height: 140px;
  --icon-width: 120px;
  --icon-aspect: calc((140 / 120) * 100%);
}
.feature__icon {
  position: relative;
  padding-bottom: var(--icon-aspect);
}
.feature__icon img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-position: left;
}
.feature__title,
.feature__description {
  display: inline;
}

/*CARDS GRID MODULE*/
.cards-grid {
  padding-top: 20px;
  padding-bottom: 80px;
  grid-gap: var(--grid-gap);
}
.card {
  position: relative;
  min-height: 400px;
  padding-top: 24px;
  padding-bottom: 30px;
  line-height: 1.5rem;
  background-color: var(--background-muted);
  border-radius: var(--corner-radius-medium);
}
.card--medium .card__text {
  max-width: calc(50% - 20px);
}
.card__text {
  position: relative;
  z-index: 2;
}
.card__title {
  font-size: var(--size-caption);
  margin-bottom: 6px;
}
.card__description {
  letter-spacing: 0.01em;
}
.card__link-wrapper {
  margin-top: auto;
  color: var(--foreground-lead);
}
.card__link {
  letter-spacing: 0.01em;
}
.card__link:after {
  width: 0.5625rem;
  height: 1.375rem;
}
.card__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
  z-index: 1;
}
.card__additional-graphic {
  position: absolute;
}
.card--medium .card__image {
  object-position: right bottom;
}
.card--centerized {
  text-align: center;
}
.card--centerized .card__text {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.card--centerized .card__title {
  margin-bottom: 4px;
}
.card--centerized .card__description {
  line-height: 1.125rem;
}
.card--silence {
  overflow: hidden;
}
.card--silence .card__text {
  margin-top: 30px;
}
.card--silence .card__additional-graphic {
  top: -104px;
  left: calc(50% - 200px);
}

/*FOOTER*/
.main-footer {
  padding-bottom: 35px;
  font-size: var(--size-midline);
  line-height: 0.875rem;
  color: var(--foreground-lead);
}
.main-footer-nav {
  align-items: flex-start;
  margin-top: 13px;
}
.main-footer-nav > *:not(:last-child) {
  margin-bottom: 14px;
}
.main-footer__form-textfield {
  width: 100%;
  font-size: var(--font-size-midline);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  outline: none;
}
.main-footer__form-textfield:hover,
.main-footer__form-textfield:hover + .main-footer__form-button {
  background-color: var(--background-muted);
}
.main-footer__form-textfield:focus,
.main-footer__form-textfield:focus + .main-footer__form-button {
  background-color: var(--foreground-lead);
  color: var(--foreground-inverted);
}
.main-footer__form-button {
  padding: 4px 11px 0;
  border: 1px solid var(--foreground-lead);
  border-radius: 0 var(--corner-radius-small) var(--corner-radius-small) 0;
  border-left: none;
  background-color: transparent;
}
.main-footer__form-button img {
  mix-blend-mode: difference;
}
.main-footer__form-label {
  letter-spacing: 0.01em;
  margin-top: 13px;
  line-height: 1.25rem;
}
.main-footer__legal {
  margin-top: 70px;
  letter-spacing: 0.01em;
}
.main-footer__legal-link:not(:last-child) {
  margin-right: 32px;
}
